body{
    background-image: url(matematicas.jpg)
}
/* #boton1, #boton2, #boton3{
    font-size:30px;
    border:3px solid black;
    margin-left: 10%;
} */

h1{ 
    
    font-size:40px;
    border:1px solid black;
}

label { 
    background-color:lightblue;
    font-size:20px;
}

.container{
    background-color:lightblue;
    border: 5px dotted black;
}

#calc{
    text-align:center;
    font-size:40px;
}